.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main.choicerole {
  width: 100% !important;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: 100%;
}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.middle-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-column > button:nth-child(1) {
  margin-left: 50px;
}

.left-column > button:last-child {
  margin-left: 50px;
}

.right-column > button:nth-child(1) {
  margin-right: 50px;
}

.right-column > button:last-child {
  margin-right: 50px;
}

.button {
  position: relative;
  font-family: Poppins, sans-serif;
  border-radius: 600px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-color: #5e8035;
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  padding: 10px 27px;
  background-color: white;
  color: black;
  cursor: pointer;
  height: 60px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-icon {
  position: absolute;
  top: -10px;
  left: -6px;
  height: 35px;
  width: 35px;
}

.clicked {
  background-color: #5e8035;
  color: white;
}

#moreRight {
  left: 30px;
}

#moreLeft {
  right:30px;
}
