.dragndrop-answers {
  width: 200px;
  padding: 20px 10px 20px 10px;
  background-color: var(--main-grey);
  border-radius: 80px;
  white-space: nowrap;
  box-shadow: 5px 5px 8px 0px rgba(106, 106, 106, 0.75);
}

.middle-circle {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--main-green);
    border-radius: 50%;
    width: clamp(800px, 50%, 200px);
    align-self: flex-start;
    height: clamp(10px, 60%, 600px);
    background-size: contain;
    background-position: center;
  }
  
