.horitontal-slider-wrapper{
    
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    padding: 8vh;

    height: 50vh ;
    width: 80%;
    

    /*border: 3px solid rgb(131, 3, 3); /* DEBUG */
}

.horitontal-slider-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    gap: 3vw;

    transition: all 1s ease-out;
    font-size: 1rem;

    /*border: 3px solid rgb(54, 9, 255); /* DEBUG */
}

.horitontal-slider-answer{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-width: 20vw;
    
    flex-direction: column;
    
    /*border: 3px solid yellow; /* DEBUG */
}

.horitontal-slider-value{
    
    /*border: 3px solid orange; /* DEBUG */
   display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 1vw;
}
.horitontal-slider-value-text{
    margin: 0.5vh;
    padding: 0px;
}

.horitontal-slider-value-textwrapper{
    display:flex;
    justify-content: space-between;   
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    
    /*border: 3px solid yellowgreen; /* DEBUG */
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1vh;
    width: 50vw;
    background: var(--main-grey); /* Standard-Hintergrundfarbe des Sliders */
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 1vh;
    position: relative;

    --slider-width: 50%;
  }
  
  .slider:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--slider-width);
    background-color: var(--main-green);
    border-radius: 1vh;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2.5vh;
    height: 2.5vh;
    background: var(--main-green);
    border-radius: 50%;
    cursor: pointer;
  }
  
  @media (max-width: 700px){
    .horitontal-slider-item{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 10vh;
        gap: 0.5vh;
    
        transition: all 1s ease-out;
        font-size: 1rem;
    
        /*border: 3px solid rgb(54, 9, 255); /* DEBUG */
    }

    .horitontal-slider-answer{
        align-items: normal;
        font-weight: bold;
        display: flex;
        text-align:left;
        width: 100%;
        height: 100%;
        margin: 0;
        
        
        flex-direction: column;
        
        /*border: 3px solid yellow; /* DEBUG */
    }

    .horitontal-slider-value{
    
        /*border: 3px solid orange; /* DEBUG */
       display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-direction: column;
        gap: 1vw;
    }

    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 1vh;
        width: 62vw;
        background: var(--main-grey); /* Standard-Hintergrundfarbe des Sliders */
        -webkit-transition: .2s;
        transition: opacity .2s;
        border-radius: 1vh;
        position: relative;
    
        --slider-width: 50%;
      }
  }
  
  
 
