.order-selection-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 58vh;
}

.order-selection-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-dark-green);
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  color: white;
  transition: all 1s ease-out;
}

.order-selection-item.pressed_0 {
  width: 25vw !important;
  height: 25vw !important;
  background: var(--main-green);
  transition: all 1s ease;
}

.order-selection-item.pressed_1 {
  width: 20vw !important;
  height: 20vw !important;
  background: var(--main-green);
  transition: all 1s ease;
}
.order-selection-item.pressed_2 {
  width: 15vw !important;
  height: 15vw !important;
  background: var(--main-green);
  transition: all 1s ease;
}
.order-selection-item.pressed_3 {
  width: 10vw !important;
  height: 10vw !important;
  background: var(--main-green);
  transition: all 1s ease;
}
.order-selection-item.pressed_4 {
  width: 5vw !important;
  height: 5vw !important;
  background: var(--main-green);
  transition: all 1s ease;
}

.order-selection-item.fade_not_out {
  transition: all 0s ease;
}

@media (orientation: portrait) {
    .order-selection-wrapper {
      flex-direction: column;
      gap: 10px;
    }
  
    .order-selection-item.pressed_0 {
      width: 35vw !important;
      height: 35vw !important;
      border-radius: 50%;
    }
    
    .order-selection-item.pressed_1 {
      width: 30vw !important;
      height: 30vw !important;
      border-radius: 50%;
    }
    
    .order-selection-item.pressed_2 {
      width: 25vw !important;
      height: 25vw !important;
      border-radius: 50%; 
    }
    
    .order-selection-item.pressed_3 {
      width: 20vw !important;
      height: 20vw !important;
      border-radius: 50%;
    }
    
    .order-selection-item.pressed_4 {
      width: 15vw !important;
      height: 15vw !important;
      border-radius: 50%; 
    }
  }
  
