.order-selection-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1vh;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 54vh;
}

.order-selection-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-dark-green);
  border-radius: 50%;
  color: white;
  transition: all 0.5s ease-out;
  font-size: 1.5rem; /* Standard-Schriftgröße */
  cursor: pointer;
}

.order-selection-item.pressed {
  background: var(--main-green);
}

/* Hier wird die Ausrichtung auf vertikal geändert, wenn das Seitenverhältnis des Bildschirms ein Portraitverhältnis ist */
@media (max-aspect-ratio: 1/1) {
  .order-selection-wrapper {
    flex-direction: column;
    gap: 10px;
    padding-top: 0;
  }
}