.yesno {
  font-size: 25px;
  text-align: end;
  font-style: inherit;
  padding-bottom: -20px;
  padding-right: 5px;
}
.answer-wrapper3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 7px;
  padding: 10px;
  border-bottom: 1px solid #a4a1a1;
  padding-bottom: 10px; 
}

.buttons3 {
  display: flex;
  align-items: center;
}

.button-group {
  display: flex;
  align-items: center;
}

.answer-text3 {
  color: #000000;
  font-family: 'Poppins-Regular', Helvetica;
  font-size: 24px;
  font-weight: 400;
  flex: 1;
  text-align: left;
}

.answer-divider {
  height: 100%;
  width: 1px;
  background-color: #000;
  margin: 0 20px; 
}

.answer-button3 {
  background-color: #ececec;
  border: 6px solid #ececec;

  border-radius: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #000;
  font-family: 'Poppins-Medium', Helvetica;
  font-size: 24px;
  font-weight: 500;
  height: 48px;
  width: 80px;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex: 1; */
}

.answer-button3.left {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  /* margin-left: 10px; */
}

.answer-button3.right {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.answer-button3.selected.answer-button3.left {
  background-color: #5e8035;
  color: #ececec;
  border-right: 0px;
}

.answer-button3.left:hover {
  background-color: #5e8035;
  color: #ececec;
  border-right: 0px;
}

.answer-button3.right:hover {
  background-color: #5e8035;
  color: #ececec;
  border-left: 0px;
}

/* .answer-button3.right:hover {
  border: 6px solid #5e8035;
  border-left: 0px;
} */

/* .answer-button3.left.selected:hover{
  border: 6px solid #ececec;
  border-right: 0px;
}

.answer-button3.right.selected:hover{
  border: 6px solid #ececec;
  border-left: 0px;
}

.answer-button3.left:hover {
  border: 6px solid #5e8035;
  border-right: 0px;
} */

.answer-button3.selected.answer-button3.right {
  background-color: #5e8035;
  color: #ececec;
  border-left: 0px;
}

.divider {
  height: 48px;
  width: 1.5px;
  background-color: #000;
  margin: 0;
  padding: 0;
}

@media (max-width: 1024px) {
  .yesno {
    font-size: 20px; 
  }
  .answer-button3 {
    font-size: 20px;
  }
  .answer-text3 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .yesno {
    font-size: 18px;
  }
  .answer-button3 {
    font-size: 18px; 
  }
  .answer-text3 {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .yesno {
    font-size: 16px; 
  }
  .answer-button3 {
    font-size: 16px; 
  }
  .answer-text3 {
    font-size: 16px;
  }
}

@media (orientation: portrait) {
  .answer-wrapper3 {
    width: 80vw;
  }
}
