:root {
  --main-green: #5e8035;
  --width-rapper: 50%;
  --hero-section-width: 5%;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--main-green);
}

.main {
  flex: 1;
}

.question-list {
  display: flex;
  flex-direction: column;
}

.start-button a {
  color: white;
  text-decoration: none;
}

.hide {
  display: none;
}

body {
  font-family: 'Poppins';
}