:root {
  --main-green: #5e8035;
  --main-dark-green: #567530aa;
  --main-grey: #ededed;
  --width-rapper: 80%;
  --hero-section-width: 5%;
}

html {
  line-height: 1.15;
  font-family: 'Poppins';
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--main-green);
}

.main {
  flex: 1;
}

.question-list {
  display: flex;
  flex-direction: column;
}

.start-button a {
  color: white;
  text-decoration: none;
}

.hide {
  display: none;
}

button{
  font-family: 'Poppins';
}

.question-list .bottom-header{
display: none;
}