:root {
  --main-green: #5e8035;
  --width-rapper: 50%;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--main);
}

.main {
  flex: 1;
}

.question-list {
  display: flex;
  flex-direction: column;
}

.start-button {
  padding: 8px 16px;
  background-color: #5b5b5b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  width: 90px;
}

.centered-button {
  display: flex;
  justify-content: center;
}

.start-button a {
  color: white;
  text-decoration: none;
}

.hide {
  display: none;
}

body {
  font-family: 'Poppins';
}

.fh-logo{
  margin: 40px;
}

.app-item{
  flex: 1 1 auto;
}
