table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

thead {
  background-color: #f8f9fa;
}

th,
td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #dee2e6;
}

th {
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #e2e6ea;
}

.title-question {
  text-align: left;
}

.bottom-header {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.reorder{
  width: 100%;
  margin-top: 25px;
}

.info-text{
  position: fixed;
  bottom: 0;
  background-color: rgb(182, 49, 49);
  width: 100%;
  left: 0;
  right: 0;
  padding: 50px;
  color: white;
  animation: fadeOut 10s forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  99% { opacity: 1; }
  100% { opacity: 0; display: none}
}

.update-link{
  color: white;
  text-decoration: none ;
  background-color: #344680;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  white-space: nowrap;
}


.update-link:hover {
  background-color: #3c5197;
}