.question-list {
  text-align: center;
}

li {
  list-style: none;
}

ul {
  padding: 0 !important;
}

.bottom-header {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
