table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  thead {
    background-color: #f8f9fa;
  }
  
  th, td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #dee2e6;
  }
  
  th {
    font-weight: bold;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody tr:hover {
    background-color: #e2e6ea;
  }

  .title-question{
    text-align: left;
  }