.wrapper {
    width: auto;
    margin: 1% auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
  }
  
  .inputField {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  